apiVersion: v1
kind: Secret
metadata:
  name: expenseflow-secret
  namespace: expenseflow
type: Opaque
stringData:
  ACCOUNT_DB_PASSWORD: "change_me_account_password"
  TRANSACTION_DB_PASSWORD: "change_me_transaction_password"
  REPORT_DB_PASSWORD: "change_me_report_password"
  ACCOUNT_DATABASE_URL: "postgresql+psycopg://account_user:change_me_account_password@account-db:5432/account_db"
  TRANSACTION_DATABASE_URL: "postgresql+psycopg://transaction_user:change_me_transaction_password@transaction-db:5432/transaction_db"
  REPORT_DATABASE_URL: "postgresql+psycopg://report_user:change_me_report_password@report-db:5432/report_db"
  JWT_SECRET_KEY: "change_me_super_secret_jwt_key"
